html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  touch-action: none;
}

.hidden {
  display: none;
}

#startScreen {
  position: fixed;
  inset: 0;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#game {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

#viewport {
  position: absolute;
  width: 568px;
  height: 320px;
  transform-origin: top left;
}

#bg-far {
  position: absolute;
  width: 2000px;
  height: 320px;
  background: url("images/far.png") repeat-x;
}

#player {
  position: absolute;
  bottom: 0;
  height: 128px; /* ~40 % ruudusta */
  left: 0;
  image-rendering: pixelated;
}

#controls {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  z-index: 5;
}

#controls button {
  font-size: 32px;
  padding: 10px 20px;
}
